				/* PAGINA INICIO DE SESION */


			/* CUADRO DE BIENVIENIDA */

/* OCULTAR MENSAJE */
.oculto {
  display: none;
}

/* ESTILO DE CUADRO BIENVENIDA */
.popup-contenido {
  position: fixed;
  top: 30px;
  left: 38%; 
  transform: translateX(-50%);
  background-color: #ffffff;
  color: #8F1010;
  padding: 20px 30px;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 1s forwards;
  max-width: 90%;
  text-align: center;
}

/* ANIMACION DE ENTRADA */
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-10px); }
  100% { opacity: 1; transform: translateY(0); }
}

/* ANIMACION DE SALIDA */
.fade-out {
  animation: fadeOut 1.5s ease forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-10px); }
}

.reloj {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #6EED7F;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  z-index: 1000;
}


				/* CUERPO DE LA PAGINA */

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #ffffff, #B8B8B8);
  justify-content: center;
  align-items: center;
  margin: 0;
 }

/* EMPUJA EL FOOTER */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  
}
/* CONTENEDOR */
.contenedor-principal {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  color: inherit;
}

.login-container {
  max-width: 500px; 
  padding: 40px;  
  font-size: 18px; 
  margin: 40px auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1a1a1a;
}

.input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  font-size: 18px;
  padding: 14px;
}

button[type="submit"] {
  width: 100%;
  font-size: 18px;
  padding: 14px;
  background-color: #8F1010;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #6EED7F;
}

#mensaje {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}



				/* FOOTER */
/* PIE DE PAGINA */
.footer {
  margin-top: auto;
  background-color: #1a1a1a;
  color: #f0f0f0;
  text-align: center;
  padding: 20px 10px;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-top: none;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  width: 100%; 	
  min-height: 100px;
}












